<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>restaurant</mat-icon>
    </button>
    <h1>Recetario</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/recetas'">Recetas</a>
      <a mat-button [routerLink]="'/tus_recetas'">Tus recetas</a>
      <a mat-button [routerLink]="'/planificador'">Planificador</a>
      <a mat-button [routerLink]="'/lista_compra'">Lista de la compra</a>
      <a mat-button [routerLink]="'/contacto'">Contacto</a>
    </div>
    <span class="example-spacer"></span>
      <mat-icon>account_circle</mat-icon>
      <a mat-button [routerLink]="'/activities'"> Login </a>
  </mat-toolbar-row>

</mat-toolbar>
