.recipe-continer h1{
  text-align: center;

}
.recipe-continer .example-card{
  text-align: left;
  padding: 20px;
  margin: 25px;
  min-height: 250px;
  min-width: 600px;
  max-width: 600px;
}
.recipe-continer .card-container{
  padding: 20px;
  margin: 30px;
  margin-bottom:100px ;
}
