<div class="recipe-continer">
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile colspan="3" rowspan="1">
      <h1>RECETAS</h1>
    </mat-grid-tile>
    <mat-grid-tile cols="3" rowHeight="3:3">
      <div>
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>title</mat-card-title>
            <mat-card-subtitle>rations</mat-card-subtitle>
            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
          </mat-card-title-group>
          <mat-card-content>
            description
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
